<form class="example-form" [formGroup]="perfil" (ngSubmit)="enviar()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <div *ngIf="perfil.get('nombre').errors?.['required']">
                Nombre es requerido
            </div>
            <div *ngIf="perfil.get('nombre').errors?.errorMayus">
                Primera letra del nombre debe ser mayuscula
            </div>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <div *ngIf="perfil.get('apellido').errors?.['required']">
                Nombre es requerido
            </div>
            <div *ngIf="perfil.get('apellido').errors?.errorMayus">
                Primera letra del apellido debe ser mayuscula
            </div>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput type="number" formControlName="edad">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <div *ngIf="perfil.get('edad').errors?.['required']">
                Nombre es requerido
            </div>
        </mat-form-field>
    </p>
    <button type="submit" mat-raised-button color="primary">Enviar</button>
</form>

